.panel {
  margin-bottom: 12px;
}
.panel .panel-heading {
  color: #fefefe;
}
.panel .panel-heading .glyphicon {
  float: right;
  font-size: 41px;
  color: #d6d6d6;
}
.panel .panel-body {
  padding: 0;
}
.panel .panel-body .list-group {
  margin: 0;
}
.panel .panel-body .list-group .list-group-item {
  padding: 6px;
  overflow: auto;
  cursor: pointer;
}
.panel .panel-body .list-group .list-group-item:hover {
  background-color: #dae9f5;
}
.panel .panel-body .list-group .list-group-item:hover:before {
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  content: "\e013";
  float: right;
  font-size: 30px;
  margin: 4px 5px 0 0;
  color: #60a777;
}
.panel .panel-body .list-group .list-group-item span:before {
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  content: "\e032";
  float: left;
  font-size: 25px;
  margin-right: 5px;
  color: #18bc9c;
}
.panel.latest {
  border-color: #384a5d;
}
.panel.latest .panel-heading {
  background-color: #384a5d;
}
.panel.latest .panel-heading .glyphicon:before {
  content: "\e162";
}
.panel.byTitle {
  border-color: #4b657f;
}
.panel.byTitle .panel-heading {
  background-color: #4b657f;
}
.panel.byTitle .panel-heading .glyphicon:before {
  content: "\e151";
}
.panel.random {
  border-color: #617992;
}
.panel.random .panel-heading {
  background-color: #617992;
}
.panel.random .panel-heading .glyphicon:before {
  content: "\e104";
}
